body{
  font-family: Dancing Script;
  width: 90%;
  background-color: #02010a;
  color: white;
  margin-left: 5%;
}

.contenido{
  margin: 0;
  width: 100%;
}

img{
  -webkit-box-shadow: 2px 3px #02010a;
  box-shadow: 2px 3px #02010a;
}

/* Header */

header{
  overflow: hidden;
  background: #5b7989;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  -webkit-animation-name: rebote;
  animation-name: rebote;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.titulo{
  float: left;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 100%;
  -webkit-text-shadow: 2px 3px #02010a;
  text-shadow: 2px 3px #02010a;
}

.titulo a{
  text-decoration: none;
}

 nav{
  float: right;
  padding-top: 5%;
  padding-right: 2%;
  padding-left: 2%;
  font-size: 115%;
  line-height: 60px;
}

a{
  color: white;
  padding: 5px;
  text-decoration: underline;
  font-size: 126%;
}

@keyframes
rebote {

  0%  {
    margin-top: 150%;
  }
  60%  {
    margin-top: -5%;
  }
  100% {
    margin-top: 0%;
  }
}

/* Imagen Principal */

.principal{
  width: 100%;
  background: #82c3a6;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.principal img{
  width: 75%;
}

/* Paisajes - Retratos */

.imagenes{
display: flex;
background: #d5c75f;
text-align: center;
flex-direction: row;
padding-top: 2%;
}

.imagenes a{
  color: #02010a;
}

.imagenes img{
  border: 1px solid #02010a;
}

.paisajes img{
  width: 80%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.paisajes img:hover{
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  border: 2px solid #82c3a6;
  -webkit-box-shadow: 2px 3px #82c3a6;
  box-shadow: 2px 3px #82c3a6;
}

.retratos img{
  width: 76%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}


.retratos img:hover{
  -webkit-transform: translate(20px,-5px);
  transform: translate(20px,-5px);
  border: 2px solid #82c3a6;
  -webkit-box-shadow: 2px 3px #82c3a6;
  box-shadow: 2px 3px #82c3a6;
}

/* Galerias: Paisajes - Retratos */

#galeria1, #galeria2{
  display: flex;
  background: #d5c75f;
  text-align: center;
  flex-direction: row;
  padding-top: 2%;
  padding-bottom: 2%;
}

#galeria1 img{
  width: 80%;
}

#galeria2 img{
  width: 80%;
}

.imagen1 img{
  -webkit-filter: blur(10px);
	filter: blur(10px);
}

.imagen2, .imagen4, .imagen6 img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.imagen3 img{
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}

/* Footer */

footer{
  background: #C6d5c5;
  color: #02010a;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: row;
  padding-left: 2%;
}

dt{
  font-size: 97%;
  -webkit-transform: translateY(-17px);
  transform: translateY(-17px);
}

[class^="colum"] {
  width: 50%;
  padding-right: 2%;
}

#t-colum1, #t-colum2{
  display: flex;
  flex-direction: row;
  width: 50%;

}

/* Footer - Contacto */

.colum1 a{
  color: #02010a;
  font-size: 130%;
}

.contac2 a{
  text-decoration: none;
}

.contac3 a{
  text-decoration: none;
}

.contac2:hover{
  text-decoration: underline;
}

.contac3:hover{
  text-decoration: underline;
}

/* Footer - Terminos */

.termi{
  font-size: 130%;
}

/* Footer - Redes Sociales */

.colum3 dt{
  font-size: 130%;
}

.colum3 img{
  width: 9%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
}

.face:hover{
  text-decoration: underline;
}

.twi:hover{
  text-decoration: underline;
}

.ins:hover{
  text-decoration: underline;
}

/* Footer - CopyRight */

.colum4 dt{
  font-size: 130%;
  padding-bottom: 25px;
}

/* Media Querys */

@media (max-width:900px) {

  header nav{
    float: none;
    padding-top: 1%;
    padding-bottom: 3%;
    font-size: 130%;

  }

  .titulo{
    float: none;
  }

  .imagenes{
    flex-direction: column;
  }

  .principal{
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .paisajes{
    padding-top: 4%;
  }

  .paisajes, .retratos{
    width: 100%;
  }

  #galeria1, #galeria2{
    flex-direction: column;
  }

  [class^="imagen"] {
    padding-top: 2%;
    padding-bottom: 2%;
  }

  #t-colum1, #t-colum2{
    flex-direction: column;
    width: 100%;

  }
  [class^="colum"] {
    width: 100%;
  }
}

@media (max-width:650px) {

  footer{
    flex-direction:column;
  }

  #t-colum1, #t-colum2{
    padding-left: 9%;
  }
}
